body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 450px;
    margin: 50px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, tr, th, td {
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
}

td, th {
    height: 70px;
    width: 70px;
}

button {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    font-size: 120%;
}

#display {
    height: 60%;
    width: 93%;
    padding: 12px;
    margin: auto;
    font-size: 130%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.number {
    background: white;
}

.number:hover, .function:hover, .reset:hover, .operator:hover, .del:hover {
    background: grey;
}

.equal {
    background: orange;
}

.equal:hover {
    background: rgb(199, 150, 58);
}